

<div class="spacing"></div>

{{#each blogs}}
<div class = "card">
<div>
    <h2>{{title}}</h2>
    <h3>By {{user.username}} on {{date}}</h3>
</div>
<div>
    <p>{{content}}</p>
</div>
<div>
    <a href = "/blog/{{id}}" class = "card-link">Post Details</a>
</div>
</div>
{{/each}}
